<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXs-69PzOtURuzOZL8bWrIRM8_CpC-s_U</string>
	<key>GCM_SENDER_ID</key>
	<string>300398275158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raywenderlich.firecards</string>
	<key>PROJECT_ID</key>
	<string>firecards-f1deb</string>
	<key>STORAGE_BUCKET</key>
	<string>firecards-f1deb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300398275158:ios:8a930b7d717bd546fd29f7</string>
</dict>
</plist>